*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 90%;
    max-width:  600px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
  }

  .form{
    margin: 20px 0;
  }

  .date{
    text-align: right;
  }


  .formGroup{
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
  }

  .input{
    width: 100%;
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 5px;
  }


  .button{
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    width: 100%;
    box-sizing: border-box;
    transition: background-color 0.3s;
  }

  .input:disabled{
    background-color: #dadfda;
  }

  .button:hover{
    background-Color: #45a049;
  }

  .entriesContainer{
    text-align: left;
  }

  .entriesList{
    list-style-type: none;
    padding: 0;
  }

  .entryItem{
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }

  .totalScore{
    font-size: 25px;
    padding: 2px;
    margin: 10px 0;
    font-weight: 600;
  }

  .listHeading{
    margin: 10px 0;
  }


  .checkbox{
    display: flex;
    align-items: center;
    gap: 10px;
  }

  @media (max-width: 768px){
    .container{
      width: 95%;
    };
    .button{
      font-size: 14px;
      padding: 8px;
    };
    .input{
      font-size: 14px;
      padding: 8px;
    };
    .textarea{
      font-size: 14px;
      padding: 8px;
    };
  };

  @media (max-width: 480px){
    .container{
      width: 100%;
    };
    .button{
      font-size: 12px;
      padding: 6px;
    };
    .input{
      font-size: 12px;
      padding: 6px;
    };
    textarea{
      font-size: 12px;
      padding: 6px;
    }
  }